$halfTransparetnDark: rgba($color: #303030, $alpha: 80%);

.quote-section {
  position: relative;
  color: var(--white);
  max-width: 573px;
  padding-right: 24px;
  margin: var(--main-padding);

  blockquote,
  p {
    font-size: 0.75rem;
  }

  blockquote {
    line-height: 1.75rem;
    animation: .3s fadeIn ease-in;
    margin: 0 !important;
    padding-right: 24px;

    cite {
      display: block;
      font-weight: 700;
    }
  }

  p {
    margin-top: 12px;

    a {
      color: var(--white);
    }
  }

  button {
    position: absolute;
    top: -6px;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;

    img {
      height: 16px;
    }

    &:disabled {
      img {
        animation: 1s rotate infinite;
      }
    }
  }

  .error {
    cursor: pointer;
    font-size: 0.75rem;
    position: absolute;
    right: -5px;
    top: 35px;
    padding: 8px;
    border-radius: 5px;
    background-color: $halfTransparetnDark;
    display: none;

    &.visible {
      display: inline-block;
      animation: .15s fadeIn ease-in;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $halfTransparetnDark;
      top: -10px;
      right: 10px;
    }
  }
}


@media screen and (min-width: 500px) {
  .quote-section {
    blockquote {
      font-size: 1.125rem;
      padding-right: 30px;
    }

    button {
      padding: 4;

      img {
        height: 18px;
      }
    }
  }
}



@media screen and (min-width: 1500px) {
  .quote-section {
    blockquote {
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: 2000px) {}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}