:root {
  --main-padding: 24px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

  background-image: url('./assets/images/bg-day-s.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  filter: brightness(60%);
}


.visually-hidden {
  font-size: 0.5625rem;
  opacity: 0;
  position: absolute;
  z-index: -1;
  user-select: none;
  left: 0;
}

main {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  color: var(--white);
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

@media screen and (min-width: 500px) {
  :root {
    --main-padding: 60px;
  }

  .bg {
    background-image: url('./assets/images/bg-day-m.webp');
  }
}

@media screen and (min-width: 1000px) {
  .bg {
    background-image: url('./assets/images/bg-day-l.webp');
  }
}


@media screen and (min-width: 1500px) {
  .bg {
    background-image: url('./assets/images/bg-day-xl.webp');
  }
}

@media screen and (min-width: 2000px) {
  .bg {
    background-image: url('./assets/images/bg-day-xxl.webp');
  }
}