:root {
  --main-padding: 24px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

  background-image: url('./assets/images/bg-day-s.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  filter: brightness(60%);

  &.night {
    background-image: url('./assets/images/bg-night-s.webp');
  }
}

.visually-hidden {
  font-size: 0.5625rem;
  opacity: 0;
  position: absolute;
  z-index: -1;
  user-select: none;
  left: 0;
}

main {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  color: var(--white);
  height: calc(100vh - var(--main-padding));
  top: 0;
  left: 0;
}

@media screen and (min-width: 500px) {
  :root {
    --main-padding: 60px;
  }

  .bg {
    background-image: url('./assets/images/bg-day-m.webp');

    &.night {
      background-image: url('./assets/images/bg-night-m.webp');
    }
  }
}

@media screen and (min-width: 1000px) {
  .bg {
    background-image: url('./assets/images/bg-day-l.webp');

    &.night {
      background-image: url('./assets/images/bg-night-l.webp');
    }
  }
}


@media screen and (min-width: 1500px) {
  .bg {
    background-image: url('./assets/images/bg-day-xl.webp');

    &.night {
      background-image: url('./assets/images/bg-night-xl.webp');
    }
  }
}

@media screen and (min-width: 2000px) {
  .bg {
    background-image: url('./assets/images/bg-day-xxl.webp');

    &.night {
      background-image: url('./assets/images/bg-night-xxl.webp');
    }
  }
}

@keyframes curtainAnim {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes loadingAnim {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}