@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  --black: #000;
  --dark: #303030;
  --white: #fff;
}

*,
*::before,
&::after {
  box-sizing: border-box;
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}